<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Registro Revista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Formulario de registro REVISTA completado</h1>
	<h3>RESUMEN DE LOS DATOS:</h3>
	<fieldset>
		<legend><strong> Datos personales</strong></legend>
	    <p th:text="'Nombre: ' + ${persona.nombre}" />
	    <p th:text="'Primer Apellido: ' + ${persona.apellido1}" />
	    <p th:text="'Segundo Apellido: ' + ${persona.apellido2}" />
	    <p th:text="'Años de Nacimiento: ' + ${persona.anyoNac}" />
	    <p th:text="'E-mail: ' + ${persona.email}" />
	    <p th:text="'Contraseña: ' + ${persona.contrasena}" />
	    <p th:text="'Dirección: ' + ${persona.direccion}" />
	   	<p th:text="'Sexo: ' + ${persona.sexo}" />
	 </fieldset>
	 <fieldset>
		<legend><strong> Nivel de estudios e intereses</strong></legend>
	    <p th:text="'Estuidos: ' + ${persona.estudios}" />
	    <p>Temas de Interés:</p>
	        <ul>
        		<li th:each="tema : ${persona.temas}" th:text="${tema}"></li>
    		</ul>
	 </fieldset> 
</body>
</html>
